<?xml version="1.0"?>
<!--
/**
 * Guidance Core Module
 *
 * @author    Guidance Magento Team <magento@guidance.com>
 * @category  Guidance
 * @package   Guidance_Core
 * @copyright Copyright (c) 2014 Guidance Solutions (http://www.guidance.com)
 */
-->
<config>
    <modules>
        <Guidance_Core>
            <version>0.6.1</version>
        </Guidance_Core>
    </modules>
    <global>
        <blocks>
            <guidance_core>
                <class>Guidance_Core_Block</class>
            </guidance_core>
        </blocks>
        <helpers>
            <guidance_core>
                <class>Guidance_Core_Helper</class>
            </guidance_core>
        </helpers>
        <models>
            <guidance_core>
                <class>Guidance_Core_Model</class>
                <resourceModel>guidance_core_resource</resourceModel>
            </guidance_core>
            <guidance_core_resource>
                <class>Guidance_Core_Model_Resource</class>
                <entities>
                    <log>
                        <table>log_guidance</table>
                    </log>
                </entities>
            </guidance_core_resource>
        </models>
        <resources>
            <guidance_core_setup>
                <setup>
                    <module>Guidance_Core</module>
                </setup>
            </guidance_core_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Guidance_Core before="Mage_Adminhtml">Guidance_Core_Adminhtml</Guidance_Core>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <guidance_core>
                    <file>guidance/core.xml</file>
                </guidance_core>
            </updates>
        </layout>
    </adminhtml>
</config>
